**/target/
**/mvnw
**/mvnw.cmd

.git/
.gitignore
.gitattributes


.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store

fitnation-rest-api/Dockerfile
docker-compose*.yml
.dockerignore
.env
.env.*

docs/
README.md
*.md

fitnation-frontend/node_modules/
fitnation-frontend/dist/
fitnation-frontend/.next/